@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: #ca5858;
    --black: #c4e9e8;
    --bg: #c4e9e8;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #ca5858;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.save span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    position: relative;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #000000;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #000000;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;

}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../ODMS/img/Organ.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #000000;
}

.home .content p{
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #000000;
}

.vision .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.vision .row .image{
    flex: 1 1 45rem;
}

.vision .row .image img{
    width: 100%;
}

.vision .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.vision .row .content p{
    font-size: 2rem;
    color: #000000;
    padding: 1rem 0;
    line-height: 1.8;
}

.donate-organ .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}

.donate-organ .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.donate-organ .box-container .box img{
    height: 15rem;
}

.donate-organ .box-container .box .user{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
}

.donate-organ .box-container .box h3{
    color: #000000;
    font-size: 2rem;
    padding: 1rem 0;
}

.donate-organ .box-container .box p{
    color: #000000;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.donate-organ .box-container .box:hover{
    background: #000000b0;
}

.donate-organ .box-container .box:hover > *{
    color: var(--black);
}

.faqs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}

.faqs .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    border: var(--border);
}

.faqs .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #000000;
    padding: 2rem 0;
}

.faqs .box-container .box .quote{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}

.faqs .box-container .box .user{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.faqs .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #000000;
}

.faqs .box-container .box h4{
    padding: 1rem 0;
    font-size: 1.8rem;
    color: #000000;
}

.faqs .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}

.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 4.8;
    color: #000000;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: #000000;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #000000;
    text-transform: none;
    background: none;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}

.blogs .box-container .box{
    border: var(--border);
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #000000;
}

.blogs .box-container .box .content .title:hover{
    color: var(--main-color);
}

.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #000000;
    padding: 1rem 0;
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .share{
    padding: 1remn 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #000000;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #000000;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #000000;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}












/* key frames for fadding*/
@keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }

/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.6rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}